*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
:root{
    --color-green : #9CE27B;
    --color-orange: #F9A72E;
    --color-red: #F95E2E;
}
body{
    padding: calc(4vw) calc(8vw);

}

.conteiner-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;

    /* flex-direction: column; */

}
.conteiner-main-information{
    background-color: rgb(182, 182, 182) ;
    border-radius: 3vw;
    /* overflow: hidden; */
    height: 100%;
    padding: 20px 0px; 
    box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    gap: 10px;
}
    .title{
        letter-spacing: 5px;
        text-align: center;
        flex: 1 1 100%;
    }

    .text{

        font-size: calc(.9rem + .6vw);
        flex: 1 1 100%;
    }

    .conteiner-information{
        flex: 1 1 100%;
        list-style: none;
        /* background-color: #6699e2 ; */
        padding: 10px 0px;
        display: flex;
        /* flex-direction: column; */
        max-height: 100%;
        overflow: hidden;
        flex-wrap: wrap;
        gap: 5px;
    }
        .item-info{
            /* width: 100%; */
            flex: 1 1 100%;
            /* height: 100%; */
            max-height: min-content;
            /* padding: 20px 0px; */
            /* padding: 1vw 0vw; */
            /* background: #47e; */

        }   
            .conteiner-subtitle{
                /* padding: 1vw 2vw; */
                display: flex; 
                gap: 2vw;
                background-color: rgba(155, 155, 155);
                align-items: center;
            }
                .icon-arrow-down{
                    padding: 2vw;
                    display: block;
                    height: 100%;
                    background-color: #777;
                    /* color: red; */
                }
                .icon-arrow-down:hover{
                    background-color: #999;
                    /* opacity: 0; */
                }
                .subtitle-text{
                    font-weight: bold;

                }
            .conteiner-info-hidden{
                height: 0; /* POR EL MOMENTO*/
                overflow: hidden;
                max-height: min-content;
           
            }
            fieldset{
                border: 2px solid;
                display: flex;
                justify-content: center;
                gap: 20px;
                padding: 15px;
            }
            legend{
                border: 1px solid;
            }
                #ejeX, #ejeY{
                    /* display: block; */
                    background-color: transparent;
                    outline: none;
                    border: 1px solid;
                    border-radius: 1vw;
                    padding: 5px;
                    font-size: calc(.8vw + .5rem);
                    text-align: center;
                    width: 80px;
                    max-width: min-content;
                }
                #ejeXP, #ejeYP, #ejeXC, #ejeYC{
                    background-color: transparent;
                    outline: none;
                    border: 1px solid;
                    border-radius: 1vw;
                    padding: 5px;
                    font-size: calc(.8vw + .5rem);
                    text-align: center;
                    width: 80px;
                    max-width: min-content;

                }
            .contenedor-info-performance{
                display: flex;
                gap: 20px;
                padding: 20px;
                flex-direction: column;
                background-color: rgb(235, 243, 250);
            }

                .label-input-url{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                    #test{
                        padding: 10px;
                        background-color: #999;
                        font-size: 20px;
                        letter-spacing: 3px;
                        color: #fff;
                        position: relative;
                        /* color: #999; */
                        transition: color .5s, background .5s;

                    }
                    .urlApi{
                        outline: none;
                        padding: 3px;
                        /* border-radius: 6px; */
                        font-size: calc(1vw + .6rem);
                        background-color: transparent;
                        border: 2px solid;
                        border-color: rgb(70, 77, 81);
                        border-width: 0px 0px 3px 0px;
                        /* color: white; */
                        
                    }
                    .urlApi::placeholder{
                        font-style: italic;
                        font-size: .9rem;
                        opacity: .5;
                        color: #000;
                    }
                .contenedor-grid-result{
                    /* border: 1px solid #4f0; */
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2,minmax(min-content,100%));
                    grid-auto-rows: minmax(min-content,auto);
                    gap: 10px;
                    column-gap: 10px;
                }
                .grid-item{
                    border: 1px solid rgb(198, 198, 198);
                    border-width: 0px 0px .5px 0px;
                    padding: 10px;

                    display: grid;
                    grid-template-columns: minmax(min-content, 40px) minmax(min-content,100%);
                    
                }
                .icon-element{
                    width: 15px;
                    height: 15px;
                    margin: auto;
                    margin-top: 0;
                    display: flex;
                    justify-content: center;
                    background-color: #0cce6b;
                    border-radius: 100%;
                    /* grid-column: 1 / 2; */
                    grid-row: 1 / 3;
                }
                .title-element{
                    color: rgb(74, 74, 74);
                }
                .seconds-element{
                    font-size: 33px;
                    color: #0cce6b;

                }
                .loading-element{
                    /* display: ; */
                    background-color: transparent;
                    display: none;
                    padding: 10px;
                    gap: 5px;
                    position: absolute;
                    inset: 0;
                    justify-content: center;
                    align-items: center;
                }
                #square-1{
                    width: 10px;
                    height: 10px;

                    background-color: #0cce6b;
                    border-radius: 100%;
                }
                #square-2{                    
                    width: 10px;
                    height: 10px;
                    background-color: rgb(255, 164, 0);
                    border-radius: 100%;
                }
                #square-3{

                    width: 10px;
                    height: 10px;
                    background-color: rgb(255, 65, 129);
                    border-radius: 100%;
                }

                .contenedor-battery-information{
                    display: flex;
                    background-color: #8d8d8d;
                    flex-direction: column;
                    padding: 20px;
                    gap: 20px;
                }
                    .contenedor-battery-status{
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        gap: 30px;
                        align-items: center;
                    }
                        .contenedor-battery{
                            width: 250px;
                            height: 130px;
                            border-radius: 10px;
                            background-color: #fff;
                            position: relative;
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            gap: 10px;
                            /* justify-content: space-around; */
                        }
                        .contenedor-battery::after{
                            content: "";
                            /* top: 50px; */
                            /* bottom: 0; */
                            right: -20px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            position: absolute;
                            display: block;
                            width: 20px;
                            height: 50px;
                            background-color: #fff;
                        }
                            .carga{
                                width: 40px;
                                height: 100%;
                                border-radius: 5px;
                            }

                            .contenedor-baterry-percentage{
                                /* border: 2px solid salmon; */
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                            }
                                #percentage{
                                    text-align: center;
                                    font-size: calc(6vw + 1.5rem);
                                    letter-spacing: 4px;
                                    font-weight: 900;
                                    font-family: 'Chakra Petch' ;
                                    transition: all 1.5s;
                                }

                                    #load-ray{
                                        width: 100%;
                                        max-width: 40px;
                                        /* border-radius: 10px; */
                                        /* max-width: max-content; */
                                    }
                                        #text-loading{
                                            display: none;
                                            font-family: 'Chakra Petch' ;
                                            font-weight: 500;
                                            font-size: calc(1rem + 1vw);
                                            letter-spacing: 2px;
                                            opacity: .6;
                                            
                                        }
                            .contenedor-battery-indications{
                                background-color: #777;
                                display: grid;
                                grid-template-columns: 1fr 1fr;

                                padding: 10px;
                                gap: 10px;

                            }
                                .text-subtitle{
                                    font-family: "Chakra Petch";
                                    font-size: calc(.8rem + 1vw);

                                }
                                #timeLoadFinish{
                                    font-family: "Chakra Petch";
                                    font-size: calc(1.3rem + 1vw);
                                    text-align: center;
                                    font-weight: 600;
                                }
                                
                                #timeDownloadFinish{
                                    font-weight: 600;
                                    text-align: center;
                                    font-family: "Chakra Petch";
                                    font-size: calc(1.3rem + 1vw);
                                }



                
.conteiner-main-details{
    background-color: #47e;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
}

    table{
        width: 100%;
        border: 1px solid;
        /* margin: 10px; */
    }   
        tr{

            margin: 10px;
        }
            th{
                /* background-color: #47e; */
                padding: 10px;
                text-align: start;
            }
            td{
                text-align: center;
            }
